<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>459058212962-k2ko8ebj7s41sqelmedf392kebjcbl0k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.459058212962-k2ko8ebj7s41sqelmedf392kebjcbl0k</string>
	<key>API_KEY</key>
	<string>AIzaSyAuBNvE_mpC_b_iwhDokBbwlvnpaYERjtk</string>
	<key>GCM_SENDER_ID</key>
	<string>459058212962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.erdos.messenger</string>
	<key>PROJECT_ID</key>
	<string>erdo-91918</string>
	<key>STORAGE_BUCKET</key>
	<string>erdo-91918.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:459058212962:ios:861cf0862a232ce937213b</string>
	<key>DATABASE_URL</key>
	<string>https://erdo-91918.firebaseio.com</string>
</dict>
</plist>